@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --font-family: "Inter", "Battambang", serif;
    --color-white: rgb(255, 255, 255);
    --color-light: rgb(239, 255, 255);
    --color-lightgray: rgb(235, 235, 235);
    --color-gray: rgb(153, 153, 153);
    --color-brightgray: rgb(232, 233, 235);
    --color-blue: rgb(22, 73,203);
    --color-lightblue: rgb(87, 143, 218);
    --color-darkblue: rgb(1, 21, 100);
    --color-black: rgb(0, 0, 0);
    --color-red: rgb(255, 0, 0);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-brightgray);
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-family);
    line-height: 1.5;
    background-color: var(--color-white);
}